<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" routerLink="/beers/create">New Beer</button>
  </div>
</div>
<hr>
<div class="row">
  <div *ngFor="let beer of beers | async" class="col-xs-12">
    <br>
      <a
      routerLink="/beers/details/{{beer.id}}"
      style="cursor: pointer; width: 200px; height: 200px;"
      class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{beer.name }}</h4>
        <p class="list-group-item-text">{{beer.description}}</p>
      </div>
      <span class="pull-right">
            <img
              src="{{beer.imagePath}}"
              alt="{{beer.name}}"
              class="img-responsive"
              style="max-height: 100px;">
       </span>
    </a>      
  </div>
</div>
