<div *ngIf="beer">
  <div  class="row">
    <div class="col-xs-12">
      <img
        src="{{beer.imagePath}}"
        alt="{{beer.name}}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{beer.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <ul>
            <li><a style="cursor: pointer;" routerLink="/beers/edit/{{id}}">Edit Beer</a></li>
            <li><a style="cursor: pointer;" (click)="delete()">Delete Beer</a></li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{beer.description}}
    </div>
  </div>
  <br>
  <div *ngIf="beer.location">
    <div class="row">
      <div class="col-xs-12">
        {{beer.location}}
      </div>
    </div>
  </div>
  
</div>
