<header>
    <h1>{{{imgURL}}}</h1>
    <img src="/static/images/expressjs-card.png"
    <div class="inner">
        <nav>
            <a href="/" class="logo">
                {{!-- <img class="logo" src="" alt="expressLogo"> --}}
                <img class="logo" src="expressjs-card.png" alt="expressLogo">
            </a>
            <input type="checkbox" id="nav" />
            <label for="nav"></label>
            <ul>
                <li>
                    <a href="/addBook">Add Book</a>
                </li>
                <li>
                    <a href="/viewAllBooks">View All Books</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<h1>Hello I'm your Express Book DB app!</h1>
<h2>There are currently 4 books in the database</h2>